* {
    background:                 #E8E8E4;
    background-alt:             #ECF2F2;
    background-alt2:            #CFC8CA;
    foreground:                 #513663;
    foreground-alt:             #CCA560;
    accent:                     #F23847;
    transparent: #00000000;
    text-color:                 @fg;
}